body > section {
  padding: 15px 0 0 0;
}

a {
   color: #d9534f;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}


.navbar-header > h1{
	font-size: 17;
}
