---
layout: page
title: Verzekering
---
<h2>
	Verzekering
</h2>
<p>
	Elk lid binnen onze club is verzekerd voor ongevallen tijdens en op weg/naar de training. Om van deze
	verzekering te kunnen genieten, moet je een <a href="verzekeringsformulier.pdf"
		target="_blank">verzekeringsformulier</a> laten invullen door je huisarts. Dit document bezorg je ons tijdens
	een les of via {% include /emailInfo.html %}. Omdat de hele
	adminstratie wel wat weken tijd in beslag kan nemen, is het belangrijk om dit document zo snel mogelijk te
	laten invullen en aan ons terug te bezorgen. Wij ondernemen dan de nodige stappen. Je vindt het
	verzekeringsdocument <a href="verzekeringsformulier.pdf" target="_blank">hier</a>.
</p>
<div class="alert alert-warning text-center font-weight-bolder" role="alert">
	Als je verzekering niet in orde is, dan kunnen we je helaas niet mee laten trainen.
</div>

<h2>
	Wat te doen bij een ongeval?
</h2>
<ol>
	<li class="mb-3">
		Betrokkene gaat met een <a href="ongevalsaangifte.pdf" target="_blank">ongevalsformulier</a> naar de
		(spoed)arts.
	</li>
	<li class="mb-3">
		Geef het ingevulde ongevalsformulier af tijdens een les of via {% include /emailInfo.html %} binnen de 5
		dagen na het ongeval of stuur het ongevalsformulier naar het secretariaat van de VAV binnen de 8 dagen na
		ongeval.
	</li>
	<li class="mb-3">
		Secretariaat VAV stuurt het door aan Arena (verzekeringsmaatschappij) die een dossier opent.
	</li>
	<li class="mb-3">
		Arena stuurt een melding van ontvangst aan betrokkene.
	</li>
	<li class="mb-3">
		De betrokkene houdt zijn medische kosten (na tussenkomst ziekenkas e.d.) netjes bij.
	</li>
	<li class="mb-3">
		Na genezing laat betrokkene het document “voor genezen verklaring" invullen door arts en stuurt dit
		op aan Arena, samen met het bijgehouden bundeltje aan medische kosten die niet door ziekenkas werden
		terugbetaald.
	</li>
	<li class="mb-3">
		Arena beoordeeld de opgestuurde kosten, doet de terugbetaling en sluit het dossier af.
	</li>
</ol>

<div class="alert alert-warning font-weight-bolder text-center" role="alert">
	De betrokkene neemt dus niet meer deel aan de clublessen vanaf de dag van het ongeval tot aan de dag
	van de genezen verklaring!
</div>