---
layout: default
---
<h1>
    Lesgevers</h1>
Hier vind je een overzicht van ons leraren korps.

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Zaterdag lessen</h3>
  </div>
  <div class="panel-body">
   {% include personen.html data='lesgeversKinderen' %}
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Dinsdag en donderdag lessen</h3>
  </div>
  <div class="panel-body">
   {% include personen.html data='lesgeversVolwassenen' %}
  </div>
</div>