<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<meta name="description" content="{{ page.description }}">
<meta name="og:description" content="{{ page.description }}">
<meta keywords="aikido, halle, musashi, aikidoclub, zelfverdediging, gevechtsport, krijgskunst">
<meta author="Coding Company">
<meta name="og:title" content="{{ page.title }}">
<title>Halse Aikidoclub Musashi: {{ page.title }}</title>
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/icon/apple-touch-icon.png' | absolute_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/icon/favicon-32x32.png' | absolute_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/icon/favicon-16x16.png' | absolute_url }}">
<link rel="manifest" href="{{ '/assets/icon/manifest.json' | absolute_url }}">
<link rel="mask-icon" href="{{ '/assets/icon/safari-pinned-tab.svg' | absolute_url }}" color="#5bbad5">
<link rel="shortcut icon" href="{{ '/assets/icon/favicon.ico' | absolute_url }}">
<!-- CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link rel="stylesheet" href="{{ '/assets/css/site.css' | absolute_url }}" />
