<header class="navbar navbar-inverse navbar-fixed-top wet-asphalt" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="{{site.baseurl}}/images/logo.png" alt="logo"></a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{site.baseurl}}">Nieuws</a></li>
                    <li><a href="about-us.html">Lid worden?</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Club <i class="icon-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{site.baseurl}}/club/overons/">Over ons</a></li>
                            <li><a href="{{site.baseurl}}/club/bestuur/">Bestuur</a></li>     
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Trainingen <i class="icon-angle-down"></i></a>
                        <ul class="dropdown-menu">
                          <li><a href="#">Trainingsuren</a></li>
                          <li><a href="#">Lesgever</a></li>     
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Aikido <i class="icon-angle-down"></i></a>
                        <ul class="dropdown-menu">
                          <li><a href="#">O'Sensei</a></li>
            <li><a href="#">Musashi</a></li>        
            <li><a href="#">Dojo-etiquette</a></li>        
            <li><a href="#">Uitrusting</a></li>    
                        </ul>
                    </li>                   
                </ul>
            </div>
        </div>
    </header>
