<div class="bg-white mb-0">
  <div class="container-fluid">
    <div class="row">
      <h1 class="mx-auto">Halse Aikido club</h1>
    </div>
    <div class="row">
      <div class="mx-auto">
        <img class="img-fluid musashi">
      </div>
    </div>
  </div>
</div>
</div>
</div>
<nav id="menu" class=" container navbar navbar-expand-lg navbar-light shadow-lg shadow- p-3 mb-3">
  <!-- <a class="navbar-brand" href="{{ '/'' | absolute_url }}">
  <img class="img fluid logo">Musashi Halle</a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav w-100 justify-content-center">
        <li class="nav-item {% if page.url contains '/nieuws' %} active {% endif %}">
          <a class="nav-link" href="{{ '/'' | absolute_url }}">Aikido</a>
        </li>
      <li class="nav-item {% if page.url contains '/nieuws' %} active {% endif %}">
        <a class="nav-link" href="{{ '/club/nieuws'' | absolute_url }}">Nieuws</a>
      </li>
      <li class="nav-item {% if page.url contains '/club/lidworden' %} active {% endif %}">
        <a class="nav-link" href="{{ '/club/lidworden' | absolute_url }}">Lid worden</a>
      </li>
      <li class="nav-item {% if page.url contains '/trainingen/trainingsuren' %} active {% endif %}">
        <a class="nav-link" href="{{ '/trainingen/trainingsuren' | absolute_url }}">Trainingsuren</a>
      </li>
      <li class="nav-item {% if page.url contains '/trainingen/verzekering' %} active {% endif %}">
        <a class="nav-link" href="{{ '/trainingen/verzekering' | absolute_url }}">Verzekering</a>
      </li>
      <li class="nav-item {% if page.url contains '/club/overons' %} active {% endif %}">
        <a class="nav-link" href="{{ '/club/overons' | absolute_url }}">Over ons</a>
      </li>      
  </div>
</nav>