<!DOCTYPE HTML>
<html lang="nl">

<head>
  {% include head.html %}
</head>

<body>
  {% include nav.html %}
  <section id="content">
    <div class="container">
      <section class="post">
        <header class="major">
          <!-- <span class="date">{{page.date | date_to_string}}</span> -->
          <h2>{{page.title}}</h2>
          <!-- <p>{{page.excerpt}}</p> -->
        </header>
        <!-- <div class="image main"><img src="{{page.image}}" alt=""></div> -->
        <p>{{content}}</p>
      </section>
    </div>
  </section>
  {% include foot.html %}
  {% include scripts-main.html %}
  {% include tracking.html %}
</body>
</html>